<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add device</title>
</head>
<body>
<form method="post" th:object="${device}">
    <div>
        <label for="name">Device name: <br>
        <input type="text" th:field="*{name}" id="name"/>
        </label>
    </div>
    <div>
        <label for="inspectionCompany">Inspection company: <br>
            <select th:field="*{inspectionCompany}" id="inspectionCompany">
            <option th:each="company : ${inspection_companies}" th:value="${company.id}" th:text="${company.name}"/>
            </select>
        </label>
    </div>
    <div><input type="submit" value="Add"></div>
</form>
</body>
</html>