.table-main{
    font-family:sans-serif;
    max-width: 80%;
    margin-top: 50px;
    padding: 20px;
}
.table-main table{
    width:100%;
    border-collapse:collapse;
}
.table-main caption{
    font-size:1.4em;
    padding:20px;
}
.table-main thead tr{
    background: #000;
    color:#fff;
}
.table-main tbody tr{
    background: #eee;
}
.table-main tr:nth-child(even){
    background: #def;
}
.table-main tbody tr:hover{
    background: #fc0;
}
.table-main td{
    padding:8px 4px;
    text-align: center;
    border: 1px solid black;
}
.table-block {
    display: block;
}
.table-main > div:nth-child(1) {
    float: left;
    width: 40%;
}
.table-main > div:nth-child(2) {
    float: right;
    width: 40%;
}
body > div:first-child {

    font-weight: bold;
    background-color:cornflowerblue; /* Kolor tła paska */
    color: black; /* Kolor tekstu na pasku */
    padding: 10px; /* Wewnętrzny odstęp paska */
    position: fixed; /* Ustawienie paska na stałe */
    top: 0; /* Odległość paska od góry strony */
    left: 0; /* Odległość paska od lewej krawędzi strony */
    width: 100%; /* Szerokość paska na całą szerokość strony */
    z-index: 1000; /* Wysokość paska na pierwszym planie */
}
body {
    background-color: dimgray;
}
h1 {
    margin-top: 100px; /* Lub inna wartość, aby odpowiednio przesunąć element w dół */
}
